<div *ngIf="!showRegisterBtn">
  <h3>Welcome to your ninja portal</h3>
  <p>please log in to view your reports</p>
</div>
<div *ngIf="showRegisterBtn">
  <h3>Join the super secret ninja club!</h3>
  <p>plese enter your credentials</p>
</div>
<div class="login">
  <form method="post" action="" name="loginForm" #loginForm="ngForm">
    <p><input *ngIf="showRegisterBtn" type="text" name="FirstN" [(ngModel)]="firstname" placeholder="First Name" required autofocus></p>
    <p><input *ngIf="showRegisterBtn" type="text" name="FamilyN" [(ngModel)]="familyname" placeholder="Family Name" required autofocus></p>
    <p><input type="text" name="login" [(ngModel)]="username" placeholder="Username" required autofocus></p>
    <p><input type="password" name="password" [(ngModel)]="password" placeholder="Password" required></p>
    <p class="submit">
      <input *ngIf="!showRegisterBtn" type="submit" name="commit" value="Login" (click)="login()">
      <input *ngIf="showRegisterBtn" type="submit" name="commit" value="Register" (click)="register()">
    </p>
  </form>
</div>
<a *ngIf="!showRegisterBtn" (click)="toggleLoginBtn()">Not yet a ninja? Become one --></a>
<a *ngIf="showRegisterBtn" (click)="toggleLoginBtn()">Are you already a ninja? Log in --></a>
<p>
  <a (click)="getFreeInfo()">If you're not a ninja, please go to the civilians page</a>
</p>
<div *ngIf="invalidLogin" class="alert alert-danger">Invalid username and/or password.</div>