<h4>Welcome ninja!</h4>
<div>Check out the exclusive ninja report (for certified ninjas only):</div>
<input type="button" value="Ninja Report" (click)="getNinjaReport()">
<input type="button" value="Logout" (click)="logout()">

<div *ngIf="classifiedInfo">Ninja report: {{ classifiedInfo }}</div>