input {
  width: 90%;
}
.set-host {
  height: 15vh;
  border: 1px solid #793333;
  padding: 1em;
}
.rest-body {
  height: 50vh;
  border: 1px solid #334079;
  padding: 1em;
}
.output {
  height: 15vh;
  border: 1px solid #797433;
  padding: 1em;
}