<div class="set-host">
  <label for="host">Host: </label>
  <input (input)="hostChanged(host)" type="text" name="host" value="http://localhost/UserAccountDemo" id="host" #host>
  <p>
    Test the open endpoint: 
    <span style="color: blue; text-decoration: underline; cursor: pointer;" (click)="goToURL()">{{ fullUrl }}</span>
  </p>
</div>
<div class="rest-body">
  <p>App:</p>
  <router-outlet></router-outlet>
</div>
<div class="output">
  <p>API output: </p>
  <p id="api-output"></p>
</div>
